<%-include("partials/header.ejs")%>
<%if(rocket){%>
<div class="animsition"
data-animsition-in-class="zoom-in-sm"
data-animsition-in-duration="1200"
data-animsition-out-class="zoom-out-sm"
data-animsition-out-duration="900">
<div class="container-fluid" id="image" style="background-image: url('/images/Header/<%=rocket.Name%>.jpg');background-size: cover;background-repeat: no-repeat;margin-top: 10vh;background-size: 100% auto;">
    <div class="display-2 rocket-feature-heading"><%=rocket.Name%></div>
    <div class="rocket-feature-tagline"><%=rocket.Tagline%></div>
    <i id="rocket-svg" class="fas fa-chevron-down"></i>
</div>
</div>
<div class="container-fluid" id="table">
  <div class="row" style="height:100%;">
      <div class="col-md-6" style="margin: auto;">
        <div class="container container-bg" id="table-container">
          <div class="display-5 tabel-name"><%=rocket.Name%></div>
          <div class="display-3 table-sub">Overview</div>
          <table class="data">
            <tr>
                <td>Height</td>
                <td><%=rocket.Height%></td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td><%=rocket.Diameter%></td>
            </tr>
            <tr>
                <td>Mass</td>
                <td><%=rocket.Mass%></td>
            </tr>
            <tr>
                <td>LEO</td>
                <td><%=rocket.LEO%></td>
            </tr>
            <tr>
                <td>GTO</td>
                <td><%=rocket.GTO%></td>
            </tr>
        </table>
        </div>
      </div>
      <div class="col-md-6" id="scene"></div>
  </div>
</div>
<div class="container-fluid"  id="animation"  style="height: 100vh;margin-top: 5%;">
  <div class="row" style="height:100%;">
  <div class="col-md-6" style="margin: auto;">
    <video autoplay loop muted preload="auto">
      <source src="/Animations/<%=rocket.Name%>.mp4" type="video/mp4">
    </video>
  </div>
  <div class="col-md-6" style="margin: auto">
  <div class="container rocket-animation-container container-bg" style="text-align: center;">
  <div class="display-4 rocket-header"><%=rocket.Header%></div>
  <br>
  <%-rocket.Content%>
  </div>
  </div>
  </div>
</div>
<div class="container-fluid" id="carousal-rocket" style="height: 100vh;margin-top: 5%;">
  <div class="Carousel">
    <button class="carousel__button left is-hidden"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current-slide">
                <img src="/images/poster.jpg" class="img-fluid lazy carousel__image"  data-src="<%=rocket.img2%>"  data-srcset="<%=rocket.img2%>" alt="">
                <p class="carousel__text"><%=rocket.desc1%></p>
            </li>
            <li class="carousel__slide">
                <img src="/images/poster.jpg" class="img-fluid lazy carousel__image" data-src="<%=rocket.img3%>"  data-srcset="<%=rocket.img3%>" alt="">
                <p class="carousel__text"><%=rocket.desc2%></p>
            </li>
            <li class="carousel__slide">
                <img src="/images/poster.jpg" class="img-fluid lazy carousel__image" data-src="<%=rocket.img4%>"  data-srcset="<%=rocket.img4%>" alt="">
                <p class="carousel__text"><%=rocket.desc3%></p>
            </li>
        </ul>
    </div>
    <button class="carousel__button right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div class="carousel__nav">
        <button class="carousel__indicator current-slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>
</div>
</div>
<script src="/js/three.min.js"></script>
<script src="/js/GLTFLoader.js"></script>
<script src="/js/OrbitControls.js"></script>
<% var cx,cy,cz;
cx = rocket.Camera_x;
cy = rocket.Camera_y;
cz = rocket.Camera_z;
var pos = rocket.Position;
%>
<!-- Three js animation script -->
<script>
// Scroll Animation
var tl = new TimelineMax();
var tl1 = new TimelineMax();
var tl2 = new TimelineMax();
const controller = new ScrollMagic.Controller();
tl.from("#table",1.3,{yPercent:40, ease:Back.easeInOut});
// tl1.from("#animation",1.3,{yPercent:40, ease:Back.easeInOut});
tl2.from("#slides",1.3,{yPercent:40, ease:Back.easeInOut});

const ScrollScene1 = new ScrollMagic.Scene({
  triggerElement: "#table",
  triggerHook: "onEnter",
}).setTween(tl).addTo(controller);
// const ScrollScene2 = new ScrollMagic.Scene({
//   triggerElement: "#animation",
//   triggerHook: "onEnter",
// }).setTween(tl1).addTo(controller);
const ScrollScene3 = new ScrollMagic.Scene({
  triggerElement: "#slides",
  triggerHook:    "onEnter"
}).setTween(tl2).addTo(controller);
var size =
{
    height: window.innerHeight,
    width: window.innerWidth,
}
    // div alignment
    $("#table").css("height",window.innerHeight);
    $("#table").css("width",window.innerWidth);
    $("#animation").css("height",window.innerHeight);
    $("#animation").css("width",window.innerWidth);
    $("#first").css("line-height","1.8em");
    $("#first").addClass("lead");
    window.addEventListener('resize',()=>{
      $("#table").css("height",window.innerHeight);
      $("#table").css("width",window.innerWidth);
      $("#animation").css("height",window.innerHeight);
      $("#animation").css("width",window.innerWidth);
    })
// Threejs code
    //Variables for setup
    let container;
    let camera;
    let renderer;
    let scene;
    var rocket;
    var controls;
    
    function init() {
      container = document.querySelector("#scene");
    
      //Create scene
      scene = new THREE.Scene();
    
      const fov = 35;
      const aspect = container.clientWidth / container.clientHeight;
      const near = 0.1;
      const far = 1000;
      
      //Camera setup
      camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
      camera.position.set(<%=cx%>, <%=cy%>, <%=cz%>);
      const ambient = new THREE.AmbientLight(0x404040, 2);
      scene.add(ambient);
    
      const light = new THREE.DirectionalLight(0xffffff, 2);
      light.position.set(50, 50, 100);
      scene.add(light);
      //Renderer
      renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
      renderer.setSize(container.clientWidth, container.clientHeight);
      renderer.setPixelRatio(window.devicePixelRatio);
    
      container.appendChild(renderer.domElement);
    // Controls
      controls = new THREE.OrbitControls(camera,renderer.domElement);
      //Load Model
      let loader = new THREE.GLTFLoader();
      loader.load("/models/<%=rocket.Name%>.gltf", function(gltf) {
        scene.add(gltf.scene);
        rocket = gltf.scene.children[0];
        rocket.position.y = <%=pos%>;
        rocket.position.x = 0;
        rocket.position.z = 0;
        animate();
      });
    }
    
    function animate() {
      requestAnimationFrame(animate);
      rocket.rotation.y += 0.01;
      rocket.castShadow = true;
      renderer.render(scene, camera);
    }
    
    init();
    
    function onWindowResize() {
      camera.aspect = container.clientWidth / container.clientHeight;
      camera.updateProjectionMatrix();
    
      renderer.setSize(container.clientWidth, container.clientHeight);
    }
    
    window.addEventListener("resize", onWindowResize);
    
</script>
<%}%>
<%-include("partials/footer.ejs")%>